* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
}

body {
  background-color: #f7f7f7;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

#board {
  width: 50vh;
  height: 50vh;
}

.board-row {
  width: 100%;
  height: 33.33333%;
}

.square {
  background: #6CA6CD;
  font-size: 40px;
  font-weight: bold;
  width: 33.33333%;
  height: 100%;
  border-radius: 0;
  border: 2px solid #000;
}

.square:focus {
  outline: none;
}
